{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  {% comment %}
  <link rel="shortcut icon" href="{% static " images/favicon.ico" %}"> {% endcomment %}
  <link href="https://fonts.cdnfonts.com/css/billy-ohio" rel="stylesheet">

  {% tailwind_css %}
  <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class="font-sans text-gray-800 antialiased bg-gray-100" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

  {% block navbar %}{% include "navbar.html" %}{% endblock navbar %}

  {% block outerContent %}
  <div class="mx-auto max-w-7xl mt-8 md:mt-16 mb-64">
    <div class="mx-4 md:mx-8">
      {% block content %}{% endblock content %}
    </div>
  </div>
  {% endblock outerContent %}

  {% comment %} {% block footer %}
  {% include "footer.html" %}
  {% endblock footer %} {% endcomment %}

  {% block javascript %}
  <script type="text/javascript" src="{% static 'scripts/scripts.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/focus/dist/cdn.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.13.8/dist/cdn.min.js"></script>
  <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
  {% endblock javascript %}
</body>

</html>